*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header Styles */
header{
    background-image: url(/images/banner/banner1.png);
    height: 900px;
    text-align: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
   
}
.header-content{
    margin-left: 850px;
    margin-right: 200px;
    padding-top: 225px;
    

}
.header-content h3{
    color: #151414;
    font-size: 65px;
}
.header-content h4{
    color: #151414;
    font-size: 65px;
}
.header-content h5{
    color: #151414;
    font-size: 65px;
}
.header-content .header-description{
    color: #444343;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
   
}
.ctu{
    padding: 8px 15px;
    background: #d16d01;
    border-radius: 5px;
    color: whitesmoke;
    border: none; 
}
/* failure styles */
.failure-content{
    display: flex;
    align-items: center;
    gap: 90;
    margin-right: 50px;
    
}
.failure-image{
    padding-left: 206px;
}
.failures-details{
    padding-top: 130px;
    height: 410px;
    width: 420px;
    padding-left: 250px;
}
.failures-details h3{
    color: #151414;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 25px;   
}
.failures-details .failures-causes{
    color: #444343;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px

}
.failures-details ul li::before{
    content: "\2713";
    color: rgb(34, 240, 34);
}
.failures-details ul li{
    color: #151414;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 10px;
}
